.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem 1rem 4rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  &_button {
    border-radius: 2.25rem;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    background-color: rgb(240, 90, 61);
    color: white;
    align-items: center;
    transition: all 275ms ease 0s;
    transform: scale(0.95);
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  &_progress {
    width: 20%;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    &_progress {
      padding-left: 2rem;
    }
  }
}
