.container {
  width: 100%;
  height: 100vh;
  color: rgb(45, 48, 87);
  background-color: rgb(255, 247, 239);
}
.header_icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 4rem 0 4rem;
  background-color: rgb(255, 247, 239);
  &_logo {
    display: inline-flex;
  }
  &_title {
    padding-left: 1rem !important;
    padding-top: 0.75rem;
  }
}
.App {
  font-family: "Quasimoda Regular", sans-serif !important;
}
@font-face {
  font-family: "Quasimoda Regular";
  src: local("Quasimoda Regular"),
    url("../src/fonts/Quasimoda-Regular.ttf") format("truetype");
}
