.questions-container {
  padding-left: 4rem;
  padding-right: 4rem;
  &_qnumber {
    padding-top: 10rem;
    font-size: 2rem;
  }
  &_border {
    padding-top: 0.5rem;
    border-bottom: 2px solid black;
    width: 2.5rem;
  }
  &_question {
    font-size: 1.125rem;
    font-weight: 100;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
  }
  &_answer {
    &:first-child {
      margin-top: 1rem;
    }
    margin-bottom: 1rem;
    // margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .questions-container {
    max-width: 37.5rem;

    &_input {
      margin-right: 1rem;
      margin-left: 2rem;
      margin-top: 0.1rem;
    }
    &_inputContainer {
      margin-top: 0.5rem;
      display: inline-flex;
    }
  }
}
